<form method="post" action="/songs/<%=@song.slug%>">
  Name <input type="text" value="<%=@song.name%>" name="song_name" id="Name"></input>
  <!-- Song: <%=@song.name%> -->

  <input type="text" name="artist_name" id="Artist Name"></input>
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"<%= 'checked' if @song.genres.include?(genre)%>><%=genre.name%></input>
    <%end%>
  <input type="submit" value="Save">
</form>
